
.header { 
    height: 200px; 
    background: wheat ; 
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
  margin: 0px;
} 

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.link-container{
  display: flex;
  flex-direction: column;
}


